
#define WIFI_SSID ""
#define WIFI_PASSPHRASE ""

#define MQTT_SERVER             ""

#define HA_MQTT_BASE            "homeassistant"
#define HA_MQTT_NODENAME        "esp32"
#define HA_MQTT_PREFIX          "test"

#define NTP_SERVER		""
#
